
*{
  background-color: lavender;
}
.cardContainer {
  padding: 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.img{
  height: 12em;
  object-fit: cover;
}
.card {
  padding: 10px;
  background-color: lavender;
}

.item-card {
  width: 12rem;
  margin-right: 10px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 20px;
}

.wine-title{
  white-space: nowrap;
  margin-right: 4%;
}
.title {
  font-weight: bold;
  white-space: nowrap;
}

.shopping-cart {
  padding: 10px;
  margin-top: 50px;
}

.card-body{
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1{
  color: blue;
}


.nav-link {
  color: black;
}

.nav-link:active {
 
  color: white;
  text-decoration: none;
}

.empty-div{
  margin-top: 2%;
  margin-bottom: 2%;
}
.container{
  display: flex;
  flex-direction: row;
}
.price{
  overflow: hidden;
  white-space: nowrap;
}
.filters{
  border-style: solid;
  padding: 2%;
  height: 55%;
}